@font-face {
  font-family: "fontGame";
  src: url("../font/Pony.ttf");
}

.bookingMovie {
  font-family: "fontGame";
}

.ghe {
  border: 2px solid orange;
  width: 35px;
  height: 35px;
  font-size: 10px;
  margin-left: 2%;
  margin-bottom: 17px;
  border-radius: 5px;
  background-color: #fff;
  padding-top: 8px;
}

.rowNumber {
  /* font-size: 25px; */
  width: 45px;
  height: 35px;
  background: none;
  border: none;
  margin-left: 2%;
  margin-bottom: 1%;
  font-size: 30px;
  color: yellow;
}
.firstChar {
  color: yellow;
  font-size: 35px;
  margin-right: 15px;
}

.screen {
  border-bottom: 50px solid rgb(255, 159, 95);
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  height: 100;
  width: 80%;
  filter: drop-shadow(4px 30px 20px rgba(255, 255, 255, 0.5));
  font-size: 25px;
  color: #fff;
  margin: auto;
}

.gheDuocChon {
  background: orange;
  color: #000;
  cursor: no-drop !important;
  border: 3px solid orange;
  width: 35px;
  height: 35px;
  font-size: 10px;
  margin-left: 2%;
  margin-bottom: 17px;
  border-radius: 5px;
  padding-top: 7px;
}

.gheDangChon {
  background: #95cd41;
  border: 3px solid #95cd41;
  width: 35px;
  height: 35px;
  font-size: 10px;
  margin-left: 2%;
  margin-bottom: 17px;
  border-radius: 5px;
  padding-top: 7px;
}

#bgImg {
  background-repeat: no-repeat;
  background-image: url("./bgmovie.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100vw;
  height: 100%;
}

#bgImg::before {
  content: "";
  background: black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
}
